DEBUG=false

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=ganabosques

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=GanaBosques
KEYCLOAK_CLIENT_ID=GanaBosques
KEYCLOAK_CLIENT_SECRET=CHANGE_ME

ALLOWED_ORIGINS=http://localhost:3000