

# Name of the MongoDB database where the information is stored
DATABASE_NAME=ganabosques

# Base URL of the Keycloak server
KEYCLOAK_URL=http://localhost:8080

# Name of the realm configured in Keycloak
KEYCLOAK_REALM=my-realm

# Client ID registered in the Keycloak realm
KEYCLOAK_CLIENT_ID=my-application

# Secret associated with the client (keep this private!)
KEYCLOAK_CLIENT_SECRET=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

DATABASE_URL=mongodb://localhost:27017
